body {
  height: 100%;
  width: 100%;
  background-color: #000;
}

.row{
  margin: 0px;
  padding: 0px;
  width: 100%;
}

/*Header Content*/

nav {
  background-color: #0078D7;
  width: 100%;
  padding-top: 15px;
}
.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}

.logo {
  width: 50px;
  height: 50px;
}

.logo h1 {
  color: #fff;
  text-align: center;
  border: 4px solid #fff;
  margin: 0px;
}

.logo-container h2 {
  font-size: 16px;
  margin: 3px;
  margin-left: 6px;
  color: #fff;
}

.logo-container p {
  margin: 3px;
  margin-left: 6px;
  font-size: 16px;
  color: #fff;
}

.links {
  height: 80px;
  padding: 30px;
  padding-right: 80px;
}

.links  ul{
  margin: 0px;
  list-style: none;
  position:relative;
  float: right;

}

.links li{
  padding: 5px 0px 5px 0px;
  margin: 0px 15px 0px 15px;
  font-size: 16px;
  display: inline;
  position: relative;
}

.links li:hover{
  position: relative;
  animation: navlinks 200ms ease-in-out forwards;
  perspective: 1000px;
}

@keyframes navlinks {
  0% {
    border-bottom: 0px solid #fff;
    border-top: 0px solid #fff;
    font-size: 16px;
  }

  100% {
    border-bottom: 2px solid #fff;
    border-top: 2px solid #fff;
    font-size: 17px;
  }
}

.links a{
  color: #fff;
}




/*Hamburger*/

.menu  a{
  text-decoration: none;
  transition: text-decoration 1s;
}

.menu a:hover{
  text-decoration: none;
  text-underline-position: below;
  transition: text-decoration 1s;
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*----------------------------------------*/


/*Intro Content*/

main , .intro {
  height: calc(90vh - 100px);
  background-color: #0078D7;
}

.intro {
  text-align: center;
  flex-direction: column;
  color: #fff;
  padding: 150px 80px 200px 80px;
}

.intro h1 {

}

.intro ul {

}

.intro li {
  display: inline;
  margin: 15px;
}


/*-----------------------------------------*/

/*Portfolio Content*/

.protfolio {
width: 100%;
padding-left: 0px;
padding-right: 0px;
}

.pbox {
  background: grey;
  height: 329px;
  transition: padding 1s, opacity 1s;
  position: relative;
  overflow: hidden;
}

.pbox #overlay {
  position: absolute;
  visibility: hidden;
  text-align: center;
  color: #fff;
  background-color: rgba(51, 54, 59, 0.9);
  padding: 20px;
  margin: 0px;
  height: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  transition: transform 1s;
  transform: translateY(100%) translateZ(0);
}

.pbox p {
  font-size: 18px;
  text-align: left;
  padding-left: 4px;
  padding-right: 4px;
  margin-top: 20px;
}

/*Portfolio Hover Effects*/

.pbox:hover img{
  padding: 30px;
  transition: padding 1s;
 }

 .pbox:hover #overlay {
   transform: translateX(0) translateY(0) translateZ(0);
   visibility: visible;
 }
/*----------------------------------*/

.portfolio a {
  height: 100%;
}

.portfolio .pbox img{
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 50%;
  transform: translateX(-50%) translateY(-50%) translateZ(0);
}

.snake {
  font-family: 'Righteous';
}

/*--------------------------------------*/

/*Professional Experience Content*/

.experience {
  text-align: center;
  background-color: grey;
  width: 100vw;
  padding: 40px 0px 100px 0px;
  /*height: calc(100vh - 100px);*/
  color: #fff;
  background-image: url("images/edgesaquagreen.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.experience h1 {
  padding-bottom: 30px;
  margin-top: 0px;
}

.experience .under-line {
  margin: 0 auto;
  margin-top: 15px;
  width: 280px;
  box-shadow: 6px 6px 5px rgba(33, 26, 35, 0.5);
}

.exp {
  height: 400px;
  box-shadow: 6px 6px 5px rgba(33, 26, 35, 0.5);
  background-color: #045f8c;
  margin-top: 50px;
  text-align: center;
}

.exp h3 {
  padding: 10px;
}

.exp ul {
  padding: 20px;
  text-align: left;
  height: 70%;
}

.exp li {
  margin: 5px;
}


/*--------------------------------------*/

/*About Content*/

.about {
  background: #211A23;
  /*height: calc(100vh - 100px);*/
  height: auto;
  /*min-height: 500px;*/
  width: 100%;
  padding: 125px 50px 125px 50px;
}

.about-img{
  height: 100%;
  text-align: center;
}


.about img {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  border: 8px solid #045f8c;
}

@media (max-width: 425px) {
  .about img{
    height: 150px;
    width: 150px;
  }
}

.about-desc {
  font-size: 18px;
  color: #fff;
}

.about-desc h1 {
  margin-top: 70px;
}

.about-desc p {
  margin-top: 20px;
}

/*-----------------------------------------*/


/*Footer Content*/

footer {
  background-color: #F9F9F9;
}

.contact {
  color: #2098D1;
  text-align: center;
  padding: 40px;
}

.contact h1 {
  font-size: 34px;
  margin-bottom: 20px;
  margin-top: 0px;
}

.contact p {
  font-size: 18px;
}

.btn {
  color: #fff;
  background-color: #2098D1;
  width: 150px;
  font-size: 18px;
  margin-top: 15px;
}

.social {
  background-color: #fff;

}

footer ul {
  text-align: center;
  padding: 15px;
}

footer li{
  display: inline;
  list-style: none;
  margin: 15px;
}
.social img {
  height: 50px;
  width: 50px;
}

/*------------------------------------*/

/*Assets*/

.under-line {
  width: 150px;
  height: 8px;
  background-color: #045f8c;
  margin-left: 6px;
}

/*-------------------------------------*/

/* Media Queries */


  /*Tablet Down To Large Phone & Hamburger Menu*/
@media only screen and (max-width: 800px) {

  /*Hamburger*/
  .logo-container {
    width: 100%;
    padding-top: 5px;
  }

  .hamburger {
    padding: 15px;
    display: block;
    float: right;
    vertical-align: middle;
  }

  .line {
    border-bottom: 4px solid #fff;
    width: 35px;
    margin-bottom: 6px;
  }

  .line:last-child {
    margin-bottom: 0;
  }

  .links {
    width: 100%;
    height:auto;
    padding: 0px 0px 0px 0px;
  }

  .menu li {
    display: block;
    width: 100%;
    background-color: #000;
    text-align: center;
    border-bottom: 0.5px solid rgba(153, 153, 153, 0.7);

  }

  .menu li:hover {
    background-color: #013A55;
  }

  .menu {
    height: 0;
    width: 100%;
    overflow: hidden;
    transition: height 0.3s linear;
    background-color: #000;
  }

  .slide-down {
    height: 240px;
  }

  /*Intro Content*/

  .intro {
    padding: 80px 0px 80px 0px;
  }

  /*About Content*/

  .about img {
    width: 200px;
    height: 200px;
  }

  /*Portfolio Content*/

  .pbox {
    max-height: 280px;
  }
}


/*Laptop Down To Tablet*/
@media only screen and (max-width: 600px) {

  /*Intro Content*/

  .intro {
    padding: 60px 0px 80px 0px;
  }

}
  /*Portfolio Squares*/
@media (max-width: 1040px) {
  .pbox{
    width: 33.3%;
  }
}

@media (max-width: 540px) {
  .pbox{
    width: 50%;
  }
}

@media (max-width: 480px) {
  .pbox{
    width: 100%;
  }
}
