@media (min-width: 1360px) {

  .logo-container {
    margin-top: 30px;
  }

  .links{
    margin-top: 30px;
  }

.intro {
  padding-top: 260px;
  padding-bottom: 260px;
}


.about {
  height: 550px;
}
.about h1 {
  margin-top: 50px;
}

}
