/* Media Queries */

/*Large Phones*/
@media only screen and (max-width: 770px) {

  /*Hamburger*/
  .logo-container {
    width: 100%;
    padding-top: 5px;
  }

  .hamburger {
    padding: 15px;
    display: block;
    float: right;
    vertical-align: middle;
  }

  .line {
    border-bottom: 4px solid #fff;
    width: 35px;
    margin-bottom: 6px;
  }

  .line:last-child {
    margin-bottom: 0;
  }

  .links {
    width: 100%;
    height:auto;
    padding: 0px 0px 0px 0px;
  }

  .menu li {
    display: block;
    height: 60px;
    width: 100%;
    background-color: #000;
    text-align: center;
    border-bottom: 0.5px solid rgba(153, 153, 153, 0.7);

  }

  .menu li:hover {
    background-color: #013A55;
  }

  .menu {
    height: 0;
    width: 100%;
    overflow: hidden;
    transition: height 0.3s linear;
    background-color: #000;
  }

  .slide-down {
    height: 240px;
  }

  /*Intro Content*/

  .intro {
    padding: 80px 0px 80px 0px;
  }

  /*About Content*/

  .about img {
    width: 200px;
    height: 200px;
  }

  .about{
    text-align: center;
  }

  .about .under-line{
    margin: 0 auto;
  }

  /*Portfolio Content*/

  /*.pbox {
    max-height: 280px;
    padding: 50px 100px 40px 100px;
  }

  .marvel {
    margin-top: 50px;
  }
  .marsbags {
    margin-top: 30px;
  }
  .bas {
    margin-top: 60px;
  }

  .drumkit {
    margin-top: 60px;
  }

  .canvas-crazy {
    margin-top: 70px;
  }

  .voice {
    margin: 0px;
    padding: 0px;
  }*/
}


/*iPhone 5s sized phones*/
@media only screen and (max-width: 360px) {

  .experience .under-line {
    width: 130px;
  }

  /*.pbox {
    max-height: 280px;
    padding: 50px 75px 40px 75px;
  }

  .marvel {
    margin-top: 60px;
  }
  .marsbags {
    margin-top: 40px;
  }
  .bas {
    margin-top: 60px;
  }

  .drumkit {
    margin-top: 60px;
  }

  .canvas-crazy {
    margin-top: 80px;
  }

  .voice {
    margin: 20px;
    padding-top: 10px;
  }*/

  .about {
    background: #211A23;
    height: auto;;
    width: 100%;
    padding: 100px 50px 100px 50px;
  }

  .about-desc h1 {
    margin-top: 50px;
    text-align: center;
  }

  .about .under-line {
    margin: 0 auto;
  }

  .about p {
    text-align: center;
  }

  footer {
    height: 100%;
  }

}
